<!DOCTYPE html>
<html>

<head>
    <title>Slack Configuration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.13.0/dist/bootstrap-vue.min.css">
    <link rel="stylesheet" href="/zoomIntegrationService/app/resources/configure.css">
</head>

<body>
    <!-- <div id="app">
        <b-container>
            <b-navbar variant="light" class="nav-bar">
                <b-navbar-brand href="#" class="nav-bar-title">
                    <img src="https://www.zoom.us/zoom.ico" width="30" height="30" class="d-inline-block align-top"
                        alt="Zoom">
                    Zoom App
                </b-navbar-brand>
            </b-navbar>
        </b-container> -->
        <b-container> 
            <div class="strip-header"><a href="https://app.slack.com/client/T024Q5Y3RKQ/C024TSM2805">Open Channel</a></div>
                 <br/>
                 <div class="strip-header"><a href="https://slack.com/app_redirect?app=A024G6DC24X">Open App</a></div>
       
       
        </b-container>
        
        
        <!-- <b-container>
            <b-card title="OAuth Credentials">
                <hr />
                <b-container>
                    <b-form @submit="save" @submit.prevent novalidate>
                        <b-form-group id="input-group-2" label="Client ID" label-for="input-2">
                            <b-form-input id="client-id" placeholder="Client ID" v-model="form.clientId"
										  :state="validation.clientId"></b-form-input>
							<b-form-invalid-feedback :state="validation.clientId">Please enter a Client ID.
							</b-form-invalid-feedback>
                        </b-form-group>
                        <b-form-group id="input-group-2" label="Client Secret" label-for="input-2">
                            <b-form-input id="client-secret" placeholder="Client Secret" v-model="form.clientSecret"
										  :state="validation.clientSecret"></b-form-input>
							<b-form-invalid-feedback :state="validation.clientSecret">Please enter a Client Secret.
							</b-form-invalid-feedback>
                        </b-form-group>
                        <b-button type="submit" variant="primary" class="float-right button-color">Authorize</b-button>
                    </b-form>
                </b-container>
            </b-card>
        </b-container>
		<b-alert variant="success" show class="position-fixed fixed-top m-0 rounded-0" v-model="success" dismissible>
			Authorization completed successfully!
		</b-alert>
		<b-alert variant="danger" show class="position-fixed fixed-top m-0 rounded-0" v-model="failure" dismissible>
			Authorization failed!
		</b-alert>
		<div id="overlay" v-show="loading">
			<div class="spinner-border"></div>
		</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.13.0/dist/bootstrap-vue.min.js"></script>
    <script src="/zoomIntegrationService/app/resources/configure.js"></script> -->
</body>

</html>